*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

body{
    background-color: white;
    min-height: 100vh;
    /* overflow-x: hidden; */
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
  color: #359381;
  font-size: 2em;
  pointer-events:none ;
  margin-right: 140px;
}
.navigation a{
  text-decoration: none;
  color: #359381;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}
.navigation a:hover , .navigation a.activated{
  background-color: #359381;
  color: white; 
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5rem;
    color: white;
    z-index: 3;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
 position: relative;
 background-color: #003329;
 padding: 100px;
}
.sec h2{
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
}
.sec p{
    font-size: 1em;
    color: white;
    font-weight: 300;
    line-height: 25px;
}